volumes:
  production_postgres_data: {}
  production_postgres_data_backups: {}
  production_traefik: {}
  production_django_media: {}
  production_django_static: {}
  production_redis_data: {}
  


services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/production/django/Dockerfile

    image: ecommerce_coderhouse_production_django
    volumes:
      - production_django_media:/app/ecommerce_coderhouse/media
      - production_django_static:/app/staticfiles
    depends_on:
      - postgres
      - redis
    env_file:
      - ./.envs/.production/.django
      - ./.envs/.production/.postgres
    command: /start

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: ecommerce_coderhouse_production_postgres
    volumes:
      - production_postgres_data:/var/lib/postgresql/18/docker
      - production_postgres_data_backups:/backups
    env_file:
      - ./.envs/.production/.postgres

  traefik:
    build:
      context: .
      dockerfile: ./compose/production/traefik/Dockerfile
    image: ecommerce_coderhouse_production_traefik
    depends_on:
      - django
    volumes:
      - production_traefik:/etc/traefik/acme

  redis:
    image: docker.io/redis:7.2
    
    volumes:
      - production_redis_data:/data
    

  celeryworker:
    <<: *django
    image: ecommerce_coderhouse_production_celeryworker
    command: /start-celeryworker

  celerybeat:
    <<: *django
    image: ecommerce_coderhouse_production_celerybeat
    command: /start-celerybeat

  flower:
    <<: *django
    image: ecommerce_coderhouse_production_flower
    command: /start-flower

  nginx:
    build:
      context: .
      dockerfile: ./compose/production/nginx/Dockerfile
    image: ecommerce_coderhouse_production_nginx
    depends_on:
      - django
    volumes:
      - production_django_media:/usr/share/nginx/media:ro
      - production_django_static:/usr/share/nginx/static:ro
